<ion-view view-title="{{restaurant.name}}{{id}}">
    <ion-content>
       <div class="list card">

		  <div class="item item-avatar">
		    <img src="{{restaurant.images.cropped[0] || restaurant.images.cropped[1] || '/img/restaurant.jpg'}}" />
		    <h2>{{restaurant.name}}</h2>
		    <p>
			    <a href="tel:{{restaurant.telephone || restaurant.mobile}}">{{restaurant.telephone || restaurant.mobile}}</a>
			    <span ng-show="restaurant.website_url">&nbsp;&nbsp; & &nbsp;&nbsp;</span>
			    <a href="{{restaurant.website_url}}" ng-show="restaurant.website_url" onclick="window.open(this.href, '_system', 'location=yes');return false;">Website</a>
			</p>
		  </div>

		  <div class="item item-image" ng-show="restaurant.images.cropped[1] || restaurant.images.cropped[2]">
		    <img src="{{restaurant.images.cropped[1] || restaurant.images.cropped[2]}}">
		  </div>

			<div class="item item-body" ng-show="restaurant.tagline">
				<p class="assertive subtext">"{{restaurant.tagline}}"</p>
			</div>

			<div class="item padding">
				<div class="row">
					<div class="col-25"><p>Plaats: </p></div> 
					<div class="col-75"><p>{{restaurant.address.city}}, {{restaurant.address.country}}</p></div>
				</div>
				<div class="row">
					<div class="col-25"><p>Adres: </p></div>
					<div class="col-75"><p>{{restaurant.address.street}}</p></div>
				</div>
				<div class="row">
					<div class="col-25"><p>Postcode: </p></div>
					<div class="col-75"><p>{{restaurant.address.zipcode}}</p></div>
				</div>
			</div>

		<div class="item tabs tabs-secondary tabs-icon-left" ng-show="restaurant.facebook_url && restaurant.twitter">
		    <a class="tab-item" ng-show="restaurant.facebook_url" href="{{restaurant.facebook_url}}" onclick="window.open(this.href, '_system', 'location=yes');return false;">
		      <i class="icon ion-social-facebook"></i>
		      Facebook
		    </a>
		    <a class="tab-item" ng-show="restaurant.twitter" href="{{restaurant.twitter}}" onclick="window.open(this.href, '_system', 'location=yes');return false;">
		      <i class="icon ion-social-twitter"></i>
		      Twitter
		    </a>
		</div>

		</div>
    </ion-content>
</ion-view>