<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="Restaurants" icon-off="ion-navicon" icon-on="ion-navicon-round" href="#/app/restaurants">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Zoeken" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
